@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Registered Users";
}

<div id="registered-users">
    <div class="panel">
        <h3>Latest Registrations</h3>
        <table class="display-table" id="users">
            <thead>
                <tr class="row">
                    <th class="display-head">First Name</th>
                    <th class="display-head">Last Name</th>
                    <th class="display-head">Email</th>
                    <th class="display-head">Phone Number</th>
                    <th class="display-head">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr class="row">
                        <td class="display-data" >@user.FirstName</td>
                        <td class="display-data" >@user.LastName</td>
                        <td class="display-data" >@user.Email</td>
                        <td class="display-data" >@user.PhoneNumber</td>
                        <td class="display-data" id="actions">
                            <a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-email="@user.Email">
                                <i class="bi bi-pencil-fill action-icon"></i>
                            </a>
                            <a asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-email="@user.Email"> 
                                <i class="bi bi-x-lg action-icon delete"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>