@model ProductViewModel

<div class="product-card" productId="@Model.Id">
    <div class="product-image-container">
        <img src="@Model.ImageUrl" />
    </div>
    <div class="product-name">
        <span class="form-label">@Model.Name</span>
    </div>
    <div class="product-name">
        <span class="form-label">Категория: @Model.Category</span>
    </div>
    <div class="order-container">
        <span class="price form-label">@Model.Price лв.</span>
    </div>
    <a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-productId="@Model.Id">
        <i class="bi bi-trash-fill action-icon delete"></i>
    </a>
</div>